<!doctype html>
<html>
<head>
    <title>Palm Tree</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'favicon.ico') }}"/>
        <!--<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'favicon-16x16.png') }}" sizes="16x16" />-->
    <style>
        body {
            background: url("/static/palm-tree.png");
            background-size: contain;
            background-position: center;
            padding-top: 100px;
            }
    </style>
</head>

<body>
    {% block data %}{%endblock%}
</body>
</html>

